
<mat-toolbar color="primary">
    Welcome to this page
</mat-toolbar>
<br>
    <mat-card-header class="log">
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <br>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="example-container">
              <mat-form-field appearance="fill">
                <mat-label>Enter your email</mat-label>
                  <input matInput placeholder="pat@example.com" formControlName="email" required>
          <div *ngIf="submitted && email?.invalid">
  
            <div *ngIf="email?.errors?.['required']"> 
              Email Required
            </div>
          
            <div *ngIf="!email?.errors?.['minLength']"> 
              Minimum characters should be 5
            </div>
            </div>
        </mat-form-field>
      </div>
      


        
      <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        
          <div *ngIf="submitted && password?.invalid">
            <div *ngIf="password?.errors?.['required']"> 
              Password Required
            </div>
          
            <div *ngIf="!password?.errors?.['minLength']"> 
              Minimum characters should be 10
            </div>
            </div>
        
       <br><br>
        <mat-card-actions>
                <button type="submit">Login</button>
        </mat-card-actions>
         
